
@media (min-width: 420px) {
    .site-logo {
        width: 40%;
        margin-top: 0px;
    }
    .main-title{
        margin: 0px;
    }
    .hp-icon {
        max-width: 250px;
    }
    .rcl-header-title {
        width: 50%;
    }
    #rcl-header {
        font-size: 75px;
        padding: 250px 0px 300px 0px;
    }
    .prana-headline {
        position:relative;
        bottom:90px;
    }
    .prana-details {
        bottom:80px;
    }
    .pink-box {
        height:400px;
    }
    .prana-list-servs {
        bottom:90px;
    }
    #prana-side {
        height:150px;
    }
}
/* Small devices (landscape phones, 576px and up)*/ 
@media (min-width: 576px) {
    .site-logo {
        width: 25%;

    }
    .main-title {
        font-size: 10px;
        letter-spacing: 2px;
        
    }
    .brand-detail {
        display: block;
        font-size: 10px;
        font-weight: 200;
    }
    #rcl-header {
        font-size: 7rem;
    }
    .cross-sell {
        width:33.33%;
    }
    .rcl-iphone { 
        width:80%;
        /* float:left; */
    }
   
    #iphone-col {
        width:35%;
        float:left;
        padding:0px;
    }
    .rcl-booked {
        width:80%;
    }
    .rcl-mockup {
        width:47%;
        float:right;
        margin-right: 45px;
    }
    #rcl-inside {
        float:left;
        width:60%;
        margin:0px;
        padding:0px;
    }
    /* .prana-top {
        height: 650px;
    } */
   .pink-box {
       height:500px;
   }
  #prana-side {
      height:150px;
  }
}

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {  */
@media (min-width: 600px) {   
/* ---- NAV BAR ---- */
/* button.navbar-toggler {
    position: relative;
    left: 700px;
} */
/* ---- HEADER ---- */
.site-logo {
    width: 40%;
    padding: 20px 0px 10px 0px;
}


.main-head {
    width: 100%;
    height: 600px;
}
.temp-logo { 
    /* padding: 130px 0px 50px 0px; */
}
.details-div {
    width: 100%;
}
.top-header {
    padding-top:50px;
}
.logo-top {
    top: 200px;
} 
.main-title {
  font-size: 18px;
}
.main-head {
    /* width: auto;
    height: 300px; */
}

.temp-logo {
    font-size: 58px;
}
.brand-detail {
    font-size: 18px;
    /* padding-top: 10px; */
    font-weight: 300;
}
/* ---- END HEADER ---- */
.hp-3 { width: 33%; float: left;}
.brand-logos {
    text-align:center;
    width: 100%;
}

#hpInputName, #hpInputPhone {
    width:50%;
    float: left;
    border: 4px solid #D9D9D9;
    /* margin: 0px 5px 5px 5px; */

}
#hpInputEmail, #hpCompany {
    width: 50%;
    /* margin: 0px 0px 10px 2px; */
    float:right;    
    border: 4px solid #D9D9D9;
    /* margin: 0px 5px 5px 5px; */
    
}
#hpInputComment {
    border: 4px solid #D9D9D9;
    width: 100%;
    /* display:block;
    margin: 0 auto; */
}
.submitBtn-row {
    clear: both;
}

/* .hp-3 {
    width:30%;
} */
/* .three-col {
   width:100%;
    display: block;
    margin: 0 auto;
} */
.new-layoutContainer {

}
.last-p {
    width: 100%;
    display:block;
    margin:0 auto; 
    text-align: center;
    clear: both;
    margin-top:15px;
}
#new-text {
    padding-top: 25px;
}
.hp-text {
    padding: 20px 0px 15px 0px;
    width: 85%;
    display:block;
    margin: 0 auto;
}
/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
width: 33.333%;
}
.grid-item {
    float: left;
    border: 0px solid white;
}
.grid-item img {
    display: block;
    width: 100%; 
    padding: 0px 5px 0px 5px;
} 
/* ---- END .grid-item ---- */
/* ---- RCL  ---- */
#rcl-1 {
    width: 50%;
    /* position: relative;
    right:10px; */
}
#rcl-1 {
    width: 100%;
}
#rcl-3 {
    width: 200%;
    position: relative;
    bottom:10px;
}
.cross-sell-content {
    width: 95%;
    padding-left:75px;
}
/* .rcl-iphone {
    width: 75%;
   
} */
.work-container {
    padding: 0px 55px;
    position: relative;
    right: 5px;
    /* padding-top:15px; */
}

/* ---- END RCL  ---- */
.right-col {
    /* width: 50%; */
}
.prod-details-col { 
    margin-right: 50px;
} 
#prod-col-1 { 
    padding-right: 20px;
} 

.prana-img {
    width: 100%;
    margin: auto;
}
    
#prana-side {
    /* position: relative;
    top: 0px; */
}

.bat-logo-mid {
position: relative;
top: 11px;
}
.bat-shirt-dt {
position: relative;
top: 100px;
padding: 0px 50px;
}
.bike-container, .boat-container, .flayvor-container, .prana-container, .isc-container, .paint-container, .branding-container {
max-width: 768px;

}
.boating-mock-mobile {
margin: 50px auto;
}

.bikepal-logo {
width: 50%;
}
.prana-logo {
width: 60%;
}
.prana-work {
position: relative;
bottom: 0px;
}
.bat-top {
padding-top: 350px;
padding-bottom:350px;

}
.prana-headline {
position: relative;
/* bottom: 0px;  */
}
.prana-details {
position: relative;
/* bottom: 0px; */
padding:5px;
}
.flayvor-top {
padding-top: 200px;
padding-bottom: 200px;

}
.flayvor-logo {

padding: 20px;
width: 70%;
position: relative;
top: 200px;
}
.prana-list {
/* float: left; */
/* position: relative;
bottom: 0px; */
/* text-align: center;
align-content: center;
align-items: center; */
}
.prana-list-servs {
position: relative;
/* bottom: 0px; */

}

.bats {
padding: 0px !important;
}
.batImgs {
width: 100%;
}
#bat-logos {
width: 100%;
margin: 50px auto;
}
.battizedImgs { 
width: 95%;
display: block;
margin: 0 auto; 
}
.bike-top {
background-position: center center;
}
.about-details {
width: 50%;
padding: 0px;
}
.informational {
    margin: 75px 20px;
}
.pages-footer {
    /* padding: 20px; */
}
.links {
    padding: 20px;
}
#small-form {
    margin: 0px;
}

.artnpractice-logo {
    width: 620px;
}
.time-logo {
    position: relative;
    top: 65px;
}

.deskImg {
    width: 45%;
    float: right;
    position:relative;
    bottom:45px;
}
#new-text {
    text-align: right;
}
.btnSpace {
    padding-bottom: 35px;
}
.shadowImg {
    width: 50%;
}  
.texts-test, .separator1 {
/* margin: 10px; */
}
#designer-block {
    margin: 0px;
    padding: 15px 0px 40px 0px;
}
#right-text {
margin: 0px;
}
#top-chat, #right-text, #last-cont, #chat-end{
margin: 0px;
}

.testimonial, .pitch {
margin-right: 25px;
margin-left: 25px;
}
/* .texts-foot {

    float: left;

} */
.column {
    float: left;
    width: 50%;
    /* padding: 15px; */
}

.column img {
    padding: 10px;
    vertical-align: middle;
}
.chat {
    padding: 20px 50px 20px 50px;
}
.new-testimonial {
    /* margin: 20px 15px; */
    width: 45%;
    float: left;
}
.meet-the-designer {
    float: left;
    width: 50%;
    padding: 40px 0px 0px 45px;
}
.hp-mob {
    display: none;
}
.hp-desk {
    display:inline-block;
    /* display:flex; */
 
}
 .hp-headshot-bkg { 
width: 50%;
float:left;
}
.hp-headshot {
    position:relative;
    left:20px;
    padding: 0px;
}
#details {
    padding: 20px;
}
#footer {
    padding: 0px 20px; 
}

ul#portfolio-list{padding-top:0px}
#jason{margin-top:10px}
#aboutMe,ul#portfolio-filter{
margin:-20px 0;width:auto;border-bottom:none}
ul#portfolio-list{padding-top:0px}
ul#portfolio-filter{    
    display:inline-flex;
line-height:145px}
#aboutMe{
    display:initial;
    height:64px;
    line-height:104px;
    padding-right:0;
    padding-left:0;
    border-top:none
}
#vertLine{display:inline}
#jason{margin-top:0}
.parallax-main { 
    height: 400px;
}
#logo {
    padding-top: 20px;
    width: 800px;
}
#aboutMe {
    display: initial;
    height: 64px;
    line-height: 104px;
    padding-right: 0;
    padding-left: 0;
    border-top: none;
}
ul#portfolio-filter {
    display: inline-flex;
    line-height: 145px;
}
#aboutMe, ul#portfolio-filter {
    margin: -20px 0;
    width: auto;
    border-bottom: none;
}

}
@media (min-width:650px) {
    .rcl-content {
        width: 95%;
        display: block;
        margin: 0 auto;
    }
    .pink-box {
        height:525px;
    }
    .rcl-small-text {
        font-size:1rem;
        position: relative;
        bottom:5px;
    }
   
    .prana-headline {
        bottom:40px;
    }
    .prana-details {
        bottom: 20px;
    }
    .prana-list-servs {
        bottom:20px;
    }
    .email-img { 
        width:20%;
        float:left;
    }
    .email-new {
        /* width:70%; */
      
      }
}
@media (min-width:770px) {
.pink-box {
    height:auto;
}
.subHeading {
    font-size: 0.875rem;
}
.prana-headline, .prana-details, .prana-list-servs {
    bottom:0px;
}
.rcl-header-title {
    width: 35%;
}
.cruise-planner-div { 
    float:left;
    width: 50%;
}

.other-web {
    float:left;
    width:50%;
}
}
/* copied from media.css */
@media (min-width: 865px) {
    /* ---- NAV BAR ---- */
/* button.navbar-toggler {
    position: relative;
    left: 800px;
} */
.work-container {
    padding: 20px 100px 0px 100px;
}
.btnSpace {
    padding-bottom: 55px;
}
.deskImg {
    /* position:relative;
    bottom:65px; */
    margin-right:20px;
}
#new-text {
    padding-top: 75px;
    width: 95%;
}
.desk-css {
    display:inline;
  }
.site-logo {
    width: 30%;
}
.rcl-iphone {
    width: 77%;
}
.rcl-booked {

}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
.rcl-content {
    width: 75%;
}
#rcl-3 {
    bottom:5px;
}
#footer {
    width: 100%;
    padding: 0px 25px;
}
/* #footer-form {
    padding: 20px;
} */

.book-details {
margin: 20px;
padding: 20px;
}
.about-footer {
    margin: 20px;
}
.index-footer {
    position: relative;
    bottom: 200px;
    display: block;
    margin: 0px 45px;
    /* padding: 0px 55px; */
}
.pages-footer {
    margin: 0px 55px;
}
.informational { 
    margin: 75px 30px;
}
.about-details {
    margin: 20px;
    width: auto;
    }
/* button.col.submitBtn {
width: 100%;
} */
.bike-container, .boat-container, .bat-container, .flayvor-container, .prana-container, .paint-container, .branding-container {
max-width: 992px;
}
.form-group{
/* width: 33.333% !important;
float: left !important;
    */

}

.links {
margin-top: 25px;
padding: 0px 25px;
}
#small-form {
margin: 0px 7px;
}

.work-container {
    /* padding: 0px 75px; */
    
}
#details {
    float: right;
    width: 50%;
    position: relative;
    bottom: 505px;
    right: 100px;
}
.main-title {
    font-size: 18px;
    line-height: 34.1px;
}
.brand-detail {
    font-size: 18px;
    /* line-height: 36.4px; */

}
.half { 
    width: 60%; 
    display: block;
    margin: 0 auto;
}
.texts-test {
    /* margin: 55px 0px 0px 0px; */
}
.deskImg {
    width: 40%;
    position: relative;
    bottom: 55px;
 
}
.chat {
    padding: 30px 125px 20px 125px; 
}
.test-quote {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 36px;
}
.testimonial {
    width: 50%;
    float: left;
    margin: 25px 50px;
    padding: 0px;
    
    
    }
    .separator1 {
    display: none;
    }
    .separator2 {
    border-top: 1px solid black;
    max-width: 100%;
    margin: auto;
    }
    #right-text {
    float: right;
    width: 50%;
    position: relative;
    bottom: 100px;
    right: 25px;
    
    }
    .chat {
    height: auto;
    }
    .pitch {
    margin-right: 0px;
    }
    .shadowImg {
    width: 70%;
    float: left;
    position: relative;
    bottom: 255px;
    left: 35px;
    }
    /* #chat-end{
    width: 50%;
    float: right;
    position: relative;
    bottom: 350px;

    } */
.hp-headshot-bkg {
    width:40%;
   
}
.hp-headshot{
 
    position: relative;
    right: 50px;
}
#smallLogo {
    display: inline;
}
#smallLogo{
    height: 35px;
    position: relative; 
    top: 5px;
}

span#typed-second, span#typed-third {
    /* font-size: 60px; */
    /* font-weight: 700 */
}

.parallax-main { 
    height: 450px;
}
#logo {
    padding-top: 20px;
    width: 900px;
    }
.deskImg {
    margin-right: 55px;
}
.meet-the-designer {
    padding: 40px 0px 0px 100px;
    width:60%;
}
#designer-block {
    /* padding: 15px 30px 40px 30px; */
}


}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
#designer-block {
    padding: 15px 40px 40px 40px;
}
.meet-the-designer {
    padding-left:120px;
}
.site-logo {
    width: 25%;
    padding: 15px 0px 5px 0px;
}
.logo-top {
    top: 200px;
} 

.index-footer {
margin: 0px 50px;
}
.new-layout {
    min-height:200px;
}
.hp-icon {
    margin-top:25px;
}
.new-grid-3 {
    width:75%;
}
.bike1 {
    margin: 15px 0px;
    width:33.33%;
    float:left;
}
.bike-return {
    clear:left;
}
/* #bigLogo,.overlay,.projects{text-align:right} */
.bat-top {
padding-top: 550px;
padding-bottom:550px;

}
#bigLogo {
/* 
position: relative;
top: 200px;
right: 50px; */
}
/* 
div.grid-item {
    padding-top: 0px;
    padding-bottom: 0px;
} */

/* #footer, */

/* .footerContent, */
/* footer {
position:relative;
margin-top: 150px;
height: 150px;
clear: both;
padding-top: 20px;
} */
/* #footer{
clear:both;
background-color:#FFF;
float:left}

.footerContent{margin:0 auto} */

/* .footerContent, */
/* #footer{text-align:center;
width:100%;
}
.contactMe,.followMe{margin:50px 2% 50px 4%;float:left}
#context,#littleLogo{display:none}
.contactMe{text-align:left}
.bigSentence{padding:50px 0 50px 4%;float:left;font-size:20px;font-weight:300}
.copyright{clear:both;margin:10px 4%;padding-top:10px;padding-bottom:10px;text-align:center;width:90.5%;font-size:16px;font-weight:300;border-top:1px solid #b0b0b0}  */

/* #jason a,#jason a:hover{text-decoration:underline} */


/* #bigLogo,.overlay,.projects{text-align:right} */

#bigLogo {
/* 
position: relative;
top: 200px;
right: 50px; */
}
/* 
div.grid-item {
    padding-top: 0px;
    padding-bottom: 0px;
} */

/* #footer, */

/* .footerContent, */
/* footer {
position:relative;
margin-top: 150px;
height: 150px;
clear: both;
padding-top: 20px;
} */
/* #footer{
clear:both;
background-color:#FFF;
float:left}

.footerContent{margin:0 auto} */

/* .footerContent, */
/* #footer{text-align:center;
width:100%;
} */
.parallax-main {
    height: 500px;
}
.work-container {
    padding: 20px 145px 0px 145px;

}
.informational {
    margin: 75px 100px;}


.deskImg {
width: 35%;
overflow: hidden;
margin: 0px 0px 0px 50px;

}
.testimonial {
width: 45%;
margin: 50px 25px 25px 25px;
}
#right-text {
position: relative;
bottom: 150px;
width: 40%;
}
#test-quote {
margin-top: 0px;
}
.shadowImg {
width: 55%;
position: relative;
left: 125px;

}
.chat {

}
#details {
padding: 0px 100px;
}
.deskImg {
    margin: 0px 125px 0px 0px;
}

}
/* and (max-width : 2600px) */
@media (min-width: 1300px)  {
.rcl-content {
    width: 65%;
}
/* .site-logo {
    width:25%;
} */
.hp-headshot-bkg {
    width: 40%;
}
#designer-block {
    /* padding: 15px 70px 40px 70px; */
}
.chat {
    padding: 30px 125px 20px 125px;
}
.main-head {

    width: 100%;
    /* height: 1000px; */
    text-align: center;
    margin-right: 0px !important;
    margin-left: 0px !important;

}

.informational {
    margin: 75px 125px;
}
.work-container {
    /* margin: 0px 75px; */
    padding-top: 35px;

    /* padding: 0px 250px; */
    
}
    .shadowImg {
    max-width: 40%;
    position: relative;
    bottom: 300px;
    left:270px;
    
    }
    #right-text{
    position: relative;
bottom: 50px;
right: 150px;



}
.pages-footer {
    margin: 0px 50px;
    padding: 0px 150px;
}
.index-footer {
    margin: 50px 150px;
    padding: 0px 50px;
    position: relative;
    bottom: 400px;
}



/* 
.picContainer,.picContainerIdle,.picContainerIdle:hover{box-shadow:0 1px 1px rgba(0,0,0,.15);outline:#fff solid 0}
#jasoninside{width:90%;padding:5%;margin:0 auto}
=======

/* 
.picContainer,.picContainerIdle,.picContainerIdle:hover{box-shadow:0 1px 1px rgba(0,0,0,.15);outline:#fff solid 0}
#jasoninside{width:90%;padding:5%;margin:0 auto}

*/

/* @media screen and (min-width:1515px){
.projects{
    width:1515px;
    margin:0 auto
} */

/* h1 {
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline
} */


/* @media screen and (min-width:1515px){
.projects{
    width:1515px;
    margin:0 auto
} */

/* h1 {
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline
} */

    .deskImg {
    width: 35%;
    /* margin-right:175px; */
    }
 

    #top-chat {
    margin-top: 10px;
    }
    #details {
    position: relative;
right: 150px;
    }
}
@media (min-width: 1500px) {
    .site-logo {
        width:22%;
        padding: 0px 0px 5px 0px;
    }
    .work-container {
        /* margin: 20px 50px; */
        width:85%;
    }
#new_rcl {

}
    .deskImg {
        width:35%;
    }
    .chat {
        padding:30px 235px 20px 235px;
    }
    .meet-the-designer {
        padding-left:120px;
    }
    .new-grid-3 {
        max-width: 85%;
    }
}
@media (min-width: 1800px) {
.site-logo {
    width: 20%;
}
.work-container {
    width:75%;
}
.main-title {
    font-size: 20px;
    line-height: 44px;
    /* padding: 10px 0px; */
}
.brand-detail {
    font-size: 22px;
    padding: 5px 0px;
}
.chat {
    padding:30px 350px 20px 350px;
}
#designer-block {
    width: 85%;
    margin:0 auto;
}
.deskImg {
    width: 30%;
    margin-right:175px;
}
.hp-headshot-bkg {
    /* max-width: 25%; */
}
.index-footer { 
    margin: 0px 200px;
    padding: 0px 100px;
}
.pages-footer {
    margin: 0px 150px;
    padding: 0px 200px;
}
.informational {
    margin: 75px 250px;
}
.rcl-content {
    width: 55%;
}

}
@media (min-width: 2000px) {
    .chat {
        padding:30px 450px 20px 450px;
    }
    .rcl-booked {
    width:60%;
}
.logo-top {
    top: 175px;
} 
.site-logo {
    width: 20%;
}
.top-header {
    padding-top:0px;
}
}

@media (min-width:2500px) {
.main-head {
    /* height: 900px; */
}
.work-container {
    width:70%;
    /* margin: 0px 100px; */
}
.chat {
    padding:30px 600px 20px 600px;
}

}