/* prana */
.prana-headline {
    font-family: ModenaSans;
    margin: 7.5px;
    font-size: 22px;
    line-height: 1.5;
    position: relative;
    bottom: 100px;
    z-index: 3; 
}
#prana-side {
    margin: auto 0px;
    position: relative;
    top: 0px;
}
.prana-details {
    position: relative;
    bottom: 75px;
    padding:5px;
    /* font-size: 15px; */
    font-family: 'Inconsolata', monospace;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}
.prana-list {
    width: 105px;
    display: inline-block;
    padding:5px;
    text-align: center;
    /* font-size: 15px; */
    font-family: 'Inconsolata', monospace;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}
.prana-list-servs {
    position: relative;
    bottom: 85px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.prana-col {
    width: 10%;
    float: left;
}
.prana-work {
    position: relative;
    bottom: 100px;
    margin: 20px;
}
.prana-web  {
    width: 80%;
    display: block;
    margin: 0 auto;
    background-color: #e3e6e7; 
    height: 450px;
    z-index: -100;
}
.prana-cols {
    position: relative;
    bottom: 150px;
    padding: 5px;
}





/* boat app */
.business-boat {
    margin: 20px;
}
h2#boat {
    font-family: brandon-grotesque,sans-serif;
    font-weight: 700;
    font-style: normal;
}