/* prana */

#prana-side {
    /* margin: auto 0px;
    position: relative;
    top: 0px; */
}

.prana-list {
    width: 33%;
    float:left;
    /* display: inline-block; */
    padding:5px;
    text-align: center;
    /* font-size: 15px; */
    font-family: 'Inconsolata', monospace;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}

.prana-col {
    width: 10%;
    float: left;
}
.prana-work {
    position: relative;
    bottom: 100px;
    margin: 20px;
}
.prana-web  {
    width: 80%;
    display: block;
    margin: 0 auto;
    background-color: #e3e6e7; 
    height: 450px;
    z-index: -100;
}
.prana-cols {
    position: relative;
    bottom: 150px;
    padding: 5px;
}





/* boat app */
.business-boat {
    margin: 20px;
}
h2#boat {
    font-family: brandon-grotesque,sans-serif;
    font-weight: 700;
    font-style: normal;
}