* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0
}
html {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}



#rcl-header {
  font-family: 'Kapra', Impact, 'Arial Narrow', Arial, sans serif;
  white-space: nowrap;
  text-shadow: 0 0 5px rgb(0 0 0 / 30%);
  color: #fff;
  /* font-size: 2rem; */
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: 2px;
  /* font-size:100%; */
  word-spacing: 4px;
  margin:0;
  text-align: center;
  padding: 300px 0px;
  /* font-size: 65px; */
  /* line-height: 100px; */

}
.rcl-all {
  width:100%;
  margin-bottom: 50px;
}
.rcl-title {
  font-family: "ProximaNova-Regular", Arial, sans-serif;
  white-space: nowrap;
  /* text-shadow: 0 0 5px rgb(0 0 0 / 30%); */
  color: #15264c;
  /* font-size: 2rem; */
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: 2px;
  /* font-size:100%; */
  word-spacing: 4px;
  margin:0;
  text-align: center;
  /* padding: 300px 0px; */
}
.rcl-text {
  text-align: center;
}
.rcl-title2 {
  font-family: 'Kapra', Impact, 'Arial Narrow', Arial, sans serif;
  /* white-space: nowrap; on for desktop */
  /* text-shadow: 0 0 5px rgb(0 0 0 / 30%); */
  color: #15264c;
  font-size: 2rem;
  /* font-size: 2.625rem; */
  line-height: 1.2;
  letter-spacing: 2px;
  /* font-size:100%; */
  word-spacing: 4px;
  margin:0;
  text-align: center;
  
}
.slantLayout {
  height: 100%;
  width: 100%;
  background-color: white;
  margin: auto;
  background-size: cover;
}

#slantLayout_container {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  /* -ms-flex-pack: center; */
  justify-content: center;

}
.slantLayout__container .content {
  color: white;
  z-index: 5;
  position: relative;
  width: 100%;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  text-align: center;
}
#slantLayout_container:before {
  content: ' ';
  background-image: -webkit-linear-gradient(left top,white 0,white 49.6%,transparent 50%);
  background-image: -moz-linear-gradient(left top,white 0,white 49.6%,transparent 50%);
  background-image: linear-gradient(to right bottom,white 0,white 49.6%,transparent 50%);
  position: absolute;
  width: 110%;
  height: 4.5rem;
  top: 0;
  left: -5%;
  z-index: 3;
}
#slantLayout_container .content {
  color: white;
  z-index: 5;
  position: relative;
  width: 100%;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem;
  text-align: center;
}
#slantLayout_container:after {
  content: ' ';
  background-image: -webkit-linear-gradient(right bottom,white 0,white 49.6%,transparent 50%);
  background-image: -moz-linear-gradient(right bottom,white 0,white 49.6%,transparent 50%);
  background-image: linear-gradient(to left top,white 0,white 49.6%,transparent 50%);
  position: absolute;
  width: 110%;
  height: 4.5rem;
  bottom: 0;
  left: -5%;
  z-index: 3;
}

.rcl-container {
  width:100%;
  display: block;
  margin: 35px auto 0px auto;
}
.rcl-content {
  padding-top: 20px;
  text-align:center;
}
.hp-slant-bckg {
  background-image:url("../images/destination-hub-caribbean.jpeg"); 
  background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    background-position: center center;
}
.alert {
  display:none;
  margin-bottom: 1em;
  padding:10px;
  background: #C1B6B6;
  /* background: grey; */
  
  font-family: 'Oswald', sans-serif;
  font-size:16px;
  text-align: center;
  color: black;
  border-radius: 2.5px;
  font-weight:200;
  /* text-transform: uppercase; */
  
}
.alert-sm {
  display:none;
  /* margin-bottom: 1em; */
  padding:10px;
  background: grey;
  font-family: 'Oswald', sans-serif;
  font-size:16px;
  line-height: 22.5px;
  letter-spacing:2px;
  font-weight:300;
  text-align: center;
  color: black;
  border-radius: 5px;
  text-transform: uppercase;
  
}
#content{padding:0}
.logo-top {
  /* margin: 100px 0px 0px 0px; */
  /* position: relative;
  top: 350px; */
} 
/* .main-title {
  font-family: Dosis, sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 3px;
  text-align: center;
  line-height: 1.55;
  margin: 0px 20px 20px 20px;

} */
.main-head {
  /* background-color: #dac6bd; */
  /*background-image: url("../images/nude-grain-nonbg.jpg");*/
      background-image: url("../images/temp-header.jpg"); 
   /* background-image: url("../images/new-banner2.jpg");  */
  /* background-image: url("../images/new-banner.jpg");  */
  /*background-image: url("../images/header-test.jpg");*/
  /* width: 100%; */
  height: 700px;
  text-align: center;
  margin-right: 0px !important;
  margin-left: 0px !important;
  /* padding-top: 90px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.comments {
  margin: 0px;  
  font-family: 'Inconsolata', monospace;
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 22.5px;
  position:relative;
  bottom:55px;
}
.subtitle {
  font-weight: 300;
  font-family: Roboto, sans-serif;
}

.new-grid-3 {
  display: block;
  margin: 0 auto;
  width: 90%;
}
.new-layout {
  background-color: #C1B6B6;
  height:auto;
  padding: 15px 0px;
 
}
.to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
  width: 44px;
  background-color: rgba(0,0,0,0.2);
  height: 42px;
  text-align: center;
}
.links {
  padding: 10px;
}
.fa-chevron-up {
  position: absolute;
  top: 13px;
  left: 14px;
  color: white;
  font-size: 16px;
  line-height: 16px;
}
.slideUp {
  animation-name: slideUp;
  -webkit-animation-name: slideUp;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
  display: block;
  margin: 0 auto;
  z-index: 4;
  position: relative;
  bottom:75px;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translate(70%);

  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
.time-fade {
  visibility: hidden;
  width: 150px;
  height: 150px;

}


#brand-logo {
  padding: 0px;

}
.brand-logos {
  padding-bottom: 35px;
}



/* general */
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.new {
  font-family: brandon-grotesque,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 45px;
}


#portfolio-list {
  padding: 0px;
}
/* #last-cont {
  margin: 15px;
  padding: 20px;
} */
.pages-footer {
  display: block;
  margin: 0px 25px;
  padding: 10px;
}
.about-footer {
  display: block;
  margin: 0px 20px;

}

.index-footer{
  margin: 0px 20px;
  padding: 20px;
  
}
.shadowImg {
  width: 95%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
#imgBox {
  
}

.chat {
  /* background-color:#e3e6e7;  */
  background-color: #f3f2ee;
   /* background-color: #D9D9D9; NEW 02 04 2022*/
  /* background-color: #E0E0E0; */
  height: auto;
  width: auto;
  padding: 20px 25px 0px 25px;
  /* margin-right: 20px;
  margin-left: 20px; */
}


#content{padding:0}

#down-icon {
  display: block;
  margin: 45px auto;
  font-size: 30px;
  height: auto;
  width: auto;
  /* position: relative;
  bottom: 150px; */
  text-align: center;
} 
span.step {
  /* background: white; */
  /* background: #e3e6e7; */
  background: #d3d2d2;
 
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: black;
  display: inline-block;
  /* font-weight: bold; */
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
}
.flayvor-ins {
  margin-top: 15px;
}
.main-headline {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 1.3;
  letter-spacing: 0.6px;
  /* text-align: left; */
  /* margin: 20px 20px 0px 0px; */
  }
.heading {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 23px; 
  margin: 25px 20px 10px 0px;
}
#sign-up {
  padding: 0px;
}
.title-serv {
  display: block;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 2px;
  line-height: 26.6px;
  margin: 20px 0px 20px 0px;
}
.heading2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 21px;
  margin: 20px 0px 20px 0px;
}
.request-text {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 19px;
  letter-spacing: 1px;
  line-height: 30.4px;
  text-align: left;
}
.serv-separator {
  width: 100%;
  height: 1px;
  background-color: black;
  display: block;
  margin: 15px auto;
}
.brand-detail {
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: center;
  margin: 3px 25px 0px 25px;
  /* display: none; */
  /* line-height: 36.4px; */
}
span#typed {
  font-style: inherit;
  display: inline-block;

}



.new-banner {
  background-image: url("../images/new-banner.jpg"); 
  height: 1200px;
  width: 100%;
  text-align: center;
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding-top: 90px;
}

.new-header{
  background-image: url("../images/nude-grain-nonbg.jpg");
  position: absolute;
  height: 750px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

 
}


.informational {
  margin: 75px 15px 75px 15px;
  /* width: 50%; */
  /* display: block;
  margin: 20px auto; */
}
.separator, .separator1, .separator2 {
  border-top: 1px solid black;
  max-width: 100%;
  margin: 0px auto;

}
.prod-details { 
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}
.bike-text {
  margin: auto;
  width: 100%;
  color: white;
  padding: 20px;
  /* float: left;
  width: 40%; */
  z-index: 2;
  text-align: left;
  line-height: 1.5;
  font-family: 'Inconsolata', monospace;
  font-size: 16px;
  font-weight: 400;
}

.serv-list {
  margin: 0px 20px;
}
.texts {
  padding: 10px;
}
.texts, .texts-test, .texts-about, .texts-tips, #small-form {
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  line-height: 22.5px;
  color: black;
}
.rcl-headline {
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  line-height: 22.5px;
  color: black;
}

#newsName, #newsEmail {
  padding: 10px 10px;

}
.texts-tips {
  margin: 20px 0px;
}
.texts-serv {
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  line-height: 22.5px;
  color: black;
  margin: 20px 0px;
}
.texts-about {
  margin: 20px 20px 50px 0px;
}
.end-footer {

}
.copyright {
  text-align: right;
  float:right;

}
.touch {
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  line-height: 22.5px;
  margin: 40px 0px 20px 0px;
}


#small-form {
  /* margin-bottom: 20px; */
  /* width: 100%; */
  /* padding: 10px; */
  /* display: block;
  margin: 0px auto;
  width: 100%; */


}
/* #footer-form {
  padding: 10px;
  width: 100%;
} */
.site-logo {
  /* font-family: 'Libre Baskerville', serif; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Ramaraja', serif; */
  width: 50%;
  height: auto;
  display: block;
  margin: 0px auto 0px auto;
}

.testimonial, .pitch {
  text-align: left;
  margin: 30px 20px 20px 0px;
}

#test-quote {
  font-family: 'Playfair Display', serif; 
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}


.wrapper {

  
  /* height: 100%; */
}
/* #contentWrapper {
  position: relative;
} */

/* #container {
  margin: 0 auto;
  max-width: 1200px;
} */

.main-container {
 width: 100%;

}
.about-img {
  width: 75%;
  display: block;
  margin: 25px auto;
  
}
.about-container {
  margin: 60px 0px;
}
.about-details, .book-details {
 
  padding: 20px;
  display: block; margin: 20px auto;
}


/* typing */
@font-face {
  font-family: MargoSerif;
  src: url('MargoSerif-Regular.otf') format("otf"),
  url('MargoSerif-Regular.woff2') format("woff2"),
  url('MargoSerif-Regular.ttf') format("truetype");
}
@font-face {
  font-family: ModenaSans;
  src: 
  url('ModenaSans-Regular.otf') format("truetype");
}
@font-face {
  font-family: Kapra;
  src: url('rcl.otf') format("truetype");
}
@font-face {
  font-family: MargoScript;
  src: 
  url('MargoScript-Regular.ttf') format("truetype");
}
@font-face {
  font-family: ModenaScript;
  src: 
  url('ModenaScript-Regular.otf') format("truetype");
}


.lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  max-height: 95vh;
  max-width: calc(95vw - 100px);
  transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
  transform-style: preserve-3d;
}

/* span#typed, span#typed-second {
  font-family: ModenaSans;
}
.foot-link {
color: black;
}
.top-header {
  z-index: 0;
} */



#slide2 {
  background-image: url("../images/head.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#slide3 {
  background-image: url("../images/slide3.jpeg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 500px; */

}
.w3-content, .w3-display-container {
  height: 450px;
}

.deskImg {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.shadows {
  width: 50%;
}

/* .logo-div {
  margin: 0 auto;
  background-color: black;
  opacity: 0.1;
  width: 70%;
  z-index: -1;
} */
.input {
  /* width: 900px; */
  display: block;
  margin: 0 auto;
  font-family: "Inconsolata", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: #000000;
}
#bikeLogo {
  width: 30%;
}



.boat-prod {
  width: 50%;
}
#slide-div {
  height: 650px;
  /* position: relative;
  bottom: 100px; */
}
.projects {
  /* justify-items: center; */
  display: block;
  margin: 0 auto;

  margin-top: 70px;

}
.yoga-img {
  width: 100%;
  padding: 15px;
}
.yoga-img-vertical {
  width: 104%;
}
/* span#typed-second {
  position: relative;
  bottom: 50px;
} */
/* span#typed {
  font-weight: 900;
  font-size: 15px;
} */
/* #typed-second {
  font-size: 80px;
  line-height: 80px;
  margin-bottom:10px;
  margin: 0;
  text-transform: none;
  color: black;
  }*/
#type-div {
  position: relative;
  bottom: 100px;
  z-index: 10;

}
.storyboard {
  width: 15%;
  margin: 20px;
  float: left;
}
.story-imgs {
  display: inline-block;
  width: 100%; 

  
}
 .story-div {
  display: block;
  margin: 45px auto;
  background-color: #e3e6e7; 
  text-align: center; 
  padding: 20px; 
}
.sketchbook-dev {
  margin: 50px auto;
}
.month {
  padding: 70px 25px;
  width: 100%;
  background: grey;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}
  
.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}
  
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}
  
/* .days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
} */
/* 
span#typed, span#typed-second {
  display: block;
  
} */
/* .typewriter h1 {
color: black;
overflow: hidden;
border-right: .15em solid red;
white-space: nowrap;
margin: 0 auto;
letter-spacing: .15em;
animation: 
typing 3.5s steps(30, end),
blink-caret .5s step-end infinite;
} */
/* @keyframes typing {
from {width: 0}
to { width: 100% }
}
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: orange }
} */


ul#portfolio-filter li,ul#portfolio-list li{display:inline}


ul#portfolio-filter li, ul#portfolio-list li {
  padding-right: 15px;
  padding-left: 15px;
}
#aboutMe, #aboutBtn {
  padding-right: 15px;
  padding-left: 15px;
}

#aboutMe,ul#portfolio-filter{
  margin:-20px 0;
  line-height:135px;
  /* float:left; */

}

#newSlides {
  max-width: none;
}
#aboutMe a,
ul#portfolio-filter a{
  color:#243828;
  text-decoration:none
}
#vertLine{
  color:#616b41;
  padding-left:10px
}
#aboutMe{
  height:64px;
  padding-right:10px
}
#aboutMe a{
  font-weight:500
}
#aboutMe a:hover{
  color:#616b41
}
ul#portfolio-filter{
  padding:0;
  display:flex;
  flex-wrap:wrap;
  justify-content:center
}
ul#portfolio-filter a{
  padding:.1em;
  font-weight:300
}
ul#portfolio-filter a.current,
ul#portfolio-filter a:hover{
  color:#616b41}
ul#portfolio-filter a.current{
  color:#616b41;
  font-weight:500}
a{
  text-decoration:none;
  color:#000}
ul#portfolio-list{
  list-style:none;
  float:left}
  .prana-banner {
    width:100%;
  }
#prana-side {
  width:85%;
  /* margin: auto 0px; */
  padding:0px 15px;
  position: relative;
  top: 0px;
  height:225px;
}
  .prana-top {
    padding-top: 175px;
    padding-bottom: 200px;
    /* height: 500px; */
    /* width: 100%; */
    background-image: url("../images/prana-top.png");
    background-repeat: no-repeat;
    /* background-position: center bottom; */
    background-position: left top;
    background-size: cover;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    /* margin: 75px 10px 0px 10px; */
    z-index: -1;
  }

.rcl-top {
  /* padding-top: 200px;
  padding-bottom: 200px; */
  height: 650px;
  /* width: 100%; */
  background-image: url("../images/caribbean-st-lucia-mountains.jpeg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  /* margin: 75px 10px 0px 10px; */
  z-index: -1;
}
.paint-top {
  padding-top: 250px;
  padding-bottom: 250px;
  background-image: url("../images/paint.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  margin: 75px 10px 0px 10px;
  z-index: -1;
}
.siinc-top {
  padding-top: 300px;
  padding-bottom: 300px;
  background-image: url("../images/siinc-top.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  margin: 75px 10px 0px 10px;
  z-index: -1;
}
.bike-mock {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.bike-top {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("../images/bike-top.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
  margin: 10px 10px 0px 10px;
  z-index: -1;
}
.parallax-contact { 
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../images/head.png");
  min-height: 300px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  z-index: -2;
}
.flayvorBtn {
  display: block;
  margin: 0 auto;
  z-index: 100;
  /* position: absolute;
  right: 100px;
  top: 100px; */
  padding: 15px;
  background-color: black;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 5px;
}
.flayvor-top {
  padding-top: 100px;
  padding-bottom: 100px;
  /* background-image: url("../images/grey7.jpg"); */
  background-image: url("../images/flayvor-top.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 75px 10px 0px 10px;
  z-index: -1;
}

.flayvor-bowl {
  width: 100%;
  z-index: 0;
}
.bat-top {
  padding: 300px 0px 300px 0px;
  background-image: url("../images/bat-unsplash.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px; */
  margin: 50px 10px 0px 10px;
  z-index: -1;
}
.prod-top {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/cups_mockupSM.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 75px 10px 0px 10px;
  z-index: -1;
}
.type-logo {
  width: 100%;
  display: block; 
  margin: 0 auto;

}
.type-imgs {
  width: 100%;
  padding: 10px 0px;
}
.type-imgs-3 {
  width: 100%;
  padding: 10px 0px;
}
.type-imgs-2 {
  width: 100%;
  padding: 10px 0px;
}
.type-imgs-4 {
  width: 100%;
  padding: 10px 0px;
}
/* .typography-top {
  margin: 75px 10px 0px 10px;
} */
.batImgs {
  width: 100%;
  padding: 0px;
  display: block;
  margin: 0px auto;
}
#battized-boats {
  display: block;
margin: 30px auto;
   padding: 5px;
}
#battized-front1, #battized-front2, #battized-front3 {
  margin: 0px;
  padding: 0px 0px;
  float: left;
}
#battized-front2 {
  margin: 20px 0px;
}
.battizedImgs {
  width: 100%;
}
.boating-top {
  padding-top: 300px;
  padding-bottom: 300px;
  background-image: url("../images/boating.jpeg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /* border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px; */
  margin: 75px 10px 0px 10px;
 z-index: -1;
}
.yoga-top {
  /* padding-top: 300px;
  padding-bottom: 300px;
  background-image: url("../images/pray.jpeg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; */
 margin: 0px 10px 0px 10px;
 z-index: -1;

 background-image: url("../images/pray.png");
  min-height: 450px;
  background-attachment: fixed;
  /* background-position: left; */
  position: relative;
  /* bottom: 315px; */
  background-repeat: no-repeat;
  /* background-size: auto; */
  background-position: center;
  background-size: cover;
}
.isc-top {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/isc.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
 margin: 75px 20px 0px 20px;
 z-index: -1;
}
/* .square{width:4px;height:4px;background-color:#243828;margin:1.5px;float:left} */

a.foot-link {
  color: black;
}
.boat-div {
  padding: 50px 150px;
}
#bikepal {
  margin: 0px;
  background-color: #1a1c1f;
}
.bikepal-logo {
 display: block; 
 margin: 0 auto; 
 width: 75%;
}
.prana-logo {
  display: block; 
  margin: 0 auto; 
  padding: 20px;
  width: 100%;
 }
 .flayvor-logo {
  display: block; 
  margin: 0 auto; 
  padding: 20px;
  width: 100%;
  position: relative;
  top: 105px;
 }
.artnpractice-logo {
  display: block; 
 margin: 0 auto; 
 width: 300px;
 height: auto;
 
}
.new-heading {
 color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 31px;
}
.serv-heading2 {
  color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 27px;
  letter-spacing: 1.2px;
  line-height: 37.8px;
  text-align: left;
}
.serv-pgs {
  margin: 20px 0px;  
  text-align: left;
  font-family: 'Inconsolata', monospace;
  display: block;

  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;

}
.serv-img {
  width: 100%;
}


.serv-dash {
  border-top: 1px solid black;
  width: 100%;
}
.prana-dash {
  border-top: 1px solid black;
  width: 15%;
  margin-top: 5px;
}
.prana-box-shadow {
  background-color: #c9c7c6; 
  height: 75px; 
  width: 100%; 
  z-index: 0; 
  /* position: relative; 
  bottom: 50px; 
  left: 75px; */
}
.bike-div {
  /* background-color: #1c1e22; */
  /* margin: 0px 35px; */
  
}
/* .bike-Blackdiv {
  background-color: #131416;
  padding: 0px;
  
  
margin: 0 150px;

} */

#bikeDesk {
  width: 100%;
  display: block;
  padding: 0px 20px;
  margin: 20px auto 40px auto;
}
.bikeAbout {
  width:100%;
  z-index: -1;
  
  /* display: block;
  margin: 0 auto; */
 
}
.bike-box {
  margin: 50px;
}
.roboto-head, .roboto-strong {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  line-height: 35px;
  color: white;
  z-index: 2;

}

  .prana-web-img {
    width: 100%;
    display: block;
  
    margin: 20px auto;
    padding: 20px;
    /* height: 400px;  */
    /* position: relative; 
    left: 100px;  */
    z-index: 100;
  }
.pink-box {
background-color: #c7babf;
 height: auto;
 width: 100%;
 display: block;
margin: 0 auto;
 position: inline;
 z-index: -100;
}
.prana-pink-sq {
  display: inline-block;
  background-color: #c7babf; 
  height: 250px; 
  width: 100%; 

  z-index: -3;
}
.bike-text-box {
  position: absolute;
  margin: 40px 20px;
}
.bikepalbox {
  float: right;
  text-align: right;
}
.roboto-strong {
  font-weight: 400; }
.roboto-head {
  
font-weight: 100; }
.ext-link {
  color: black;
}


#boat-box {
  /* background-image: url("../images/boat-box.png");
   */
   background-color: blue;
}
.final-div {
  margin: 50px auto;
  background-color: #f4f4f4; 
  width: 100%; 
  position: relative;
  left: 12px;
  /* height: 600px;
  padding: 50px 150px; */
}
.contact-div {
  margin: 60px 20px;
}
#back2 {
  background: url("https://www.noworneverdesign.com/wp-content/uploads/2018/03/greengrain.jpg");
}
#nude {
  background: url("https://www.noworneverdesign.com/wp-content/uploads/2018/02/nudegrain.jpg");

  /* background-image: url("../images/nudegrain.jpg"); */
  /* background-repeat: no-repeat;
  background-size: cover; */
 
}
.about-div {
  background: url("https://www.noworneverdesign.com/wp-content/uploads/2018/02/nudegrain.jpg");

}
.about-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.55;
  letter-spacing: 2px;
  color: black;
  
}
.serv-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 2px;
  color: black;
 margin-bottom: 10px;
  
}
.serv-title-dash {
  border-bottom: solid 1px black;
  padding-bottom: 5px;
}
.dash-bottom {
  border-bottom: #333333 0.5px solid;
  width:190px;
  padding: 5px 0px;
}

.about-me {
  margin: 50px 0px;
  font-family: "Inconsolata", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}
.serv-text {
  font-family: "Inconsolata", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  color: #000000;
  text-align: left;
}
.bat-div {
  padding: 50px 150px;
}
.bat-container {
  width: 100%;
  display: block;
  padding: 0px 20px;
  margin: 20px auto;
}

.siinc-div {
  margin: 0px 150px;
}
.branding-container {
  margin: 0px 150px;
}
.prana-features{
 padding: 0px;
/*   
  display: block;
  margin: 0 auto; */
}

.flayvor-final {
height: 150px;
  background-color: #b3b3b3; 
}


.siinc-container, .isc-container, .bat-design {
  background-color: #e3e6e7; 
  z-index: -100;
  
}

.battized-container {
  background-color:#e3e6e7; 
}
/* .flayvor-container {
  padding: 75px;
  height: 550px;

} */
.flayvor-web {
  padding: 50px 0px;
  /* background-color: #e3e6e7;  */
  height: auto;
  background-color: #d3d2d2; 
  width: 100%;
  display: block;
  margin: 0 auto; 
}
.flayvor-end {
  clear:both;
}
.flayvor-steps {
  display: block; 
  /* margin: 0 auto; */
  padding: 25px 50px;
  z-index: 100;
  /* position: relative;
  bottom: 70px; */
  width:85%;
  /* margin: 0 auto; */
}
.battized-container {
  display: block;
  margin: 0 auto;
  width: 80%;
  /* height: 600px; */
  padding: 75px 75px 75px 75px;

  /* margin: 0 200px; */
}
.shirt {
  padding: 25px 150px;
}
.boat-head {

  background-image: url("../images/boat-head2.png");
  min-height: 650px;
  background-attachment: fixed;
  /* background-position: left; */
  position: relative;
  /* bottom: 315px; */
  background-repeat: no-repeat;
  /* background-size: auto; */
  background-position: bottom center;
/* margin: 0px 150px; */
  background-size: cover;

}
.bike-container, .flayvor-container, .prana-container, .paint-container, .branding-container,.boat-container  {
  display: block;
  margin: 0 auto;
  padding: 0px 15px;
}
.isc-container {
  /* width: 100%; */

  display: block;
  margin: 0 auto;
  padding: 0px 15px;
}
.flayvor-wood {
  width: 100%;
  z-index: -100;
  /* background-image: url("../images/marble-back.jpg"); */
  background-image: url("../images/flayvor-wood.png");
  padding-top: 150px;
  padding-bottom: 150px;
 
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.bike-1 {
  width:100%;
}
.bike-mocks {
  width:95%;
 margin: 0px auto;

}
.boat-container {
  display: block;
  margin: 0 auto;
  /* padding: 0px 15px; */
}
.details-div {
  display: block;
  margin: 0px auto !important;
  padding: 5px;
}
#shirt-layout {
  background-color: #e3e6e7;
  height:400px;
  z-index: -1;
/* 
  position: relative;
  bottom: 20px;
  */

 
}

.prana-imgs {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 10px;
}
#details {
  padding: 10px;
}

#siincImg {
  padding: 50px 0px;
  float: right;
}
.bat-design {
  /* width: 80%; */
  height: 475px;
  /* display: block;
  margin: 0 auto; */
padding: 75px 100px;
}
/* .bat-inspo {
  width: 600px;
  position: absolute ;
} */
/* .bat-finalLogo {
  position: relative;
  bottom: 175px;
  right: 200px;
} */
.logos-border {
  border: 1px solid black;
}
.bat-boats img {
  width: 65%; 
  /* max-width: 200px; */
  /* height: auto;
 padding: 0px; */
}
.batLayout {

  float: right;
  width: 300px;

}
.parallax-main {
  background-position: bottom center;
}
.batLogos-div {
  background-color: white;
/* width: 450px; */
/* padding: 50px; */
  align-content: center;
  padding: 25px;
  /* float: right; */
  position: relative;
  bottom: 50px;
  left: 50px;
}
/* .batLogos-div img {
  display: block;
  margin: 0 auto;
} */
/* parallax header */

#boating-layout {
  /* background-color: #77B6CE; */
  /* background-color: #e3e6e7; */
  background-color: #F4F4F4;
  height: 500px;
  width: 900px;
  z-index: -1;
  /* position: relative;
  bottom: 50px; */
}





.parallax2 { 
  background-image: url("../images/head.jpeg");
  min-height: 450px;
  background-attachment: fixed;
  /* background-position: left; */
  position: relative;
  /* bottom: 315px; */
  background-repeat: no-repeat;
  /* background-size: auto; */
  background-position: center;

  background-size: cover;

}
.bike-parallax {
  background-image: url("../images/bike-parallax.png");
  min-height: 600px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: bottom center; */

}
/* #link {
  font-family: futura, sans-serif;
} */
.parallax-yoga { 
  /* background-image: url("../images/yoga-head.jpeg"); */
  background-image: url("../images/pray.png");
  min-height: 450px;
  background-attachment: fixed;
  /* background-position: left; */
  position: relative;
  /* bottom: 315px; */
  background-repeat: no-repeat;
  /* background-size: auto; */
  background-position: center;
  background-size: cover;
}

#emailButton {
  padding: 15px;
  background-color: none;
  color: white;
  display: block;
  margin: 0 auto;
  border: 1px solid #565656;
  z-index: 1;
}
.buttonShadow {
  background-color: grey;
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 70px;
  right: 15px;
  height: 50px; width: 150px;
  z-index: 0;

}

#resume {
 width: 65%;
 display: block;
 margin: 0 auto;
 padding-top:75px;
}
/* .parallax-container {
  height: 400px;
  overflow: hidden;
  position: relative;
  /* height: auto; */
  /* width: auto;
  position: relative;
  bottom: 13px; */
.w3-content, .w3-display-container {
  position: relative;
  bottom: 400px;
}


  .mySlides {
    position: absolute;
  
    top: 400px;
   
    z-index: -1;
    min-width: 100%;
    height: 450px;
    

  }
  .mySlides {
    object-fit: cover;
    /* height: 400px; */
  
  }
  .carousel {
    z-index: -1;
 
  }
  .carousel {
    position: static;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .carousel .item {
    height: 500px;
  }
  .carousel img {
 
    
  }

/* portfolio grid */ 

/* ---- grid ---- */

  /* clear fix */

  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  .portfolio {
    background-color: #f7f9f9;
  }

/* ---- .grid-item ---- */

  /* .grid-sizer,
  .grid-item {
    width: 33.333%;
  }

  .grid-item {
  float: left;
  border: 0px solid white;
  }
  
  .grid-item img {
  display: block;
  width: 100%; 
  padding: 0px 5px 0px 5px;
  } */
  /* .img-grid img {
    display: block;
    width: 100%;

  } */
  

  /* .grid-sizer-2, .grid-item-2 {
   
   
    width: 33%;
    
    } */
    /* .grid-item-2 {
      float: left;
    } */
  /* 
   .grid-item:hover{
    cursor: pointer;
    -webkit-filter: grayscale(0%) blur(0);
  }
  .grid-alpha{
    display: none;
    position: absolute;
    background-color: #F4F3F4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
  }
  .grid-alpha:hover{
    cursor: zoom-out;
  }
  .grid-item.item-opened{
    width: 80%;
    height: 80vw;
    border: 3px solid #e8e8e8;
    -webkit-filter: grayscale(0%) blur(0);
    }  */
  /* .grid-item-content {
    height: 100px;
  } */

.grid {
  /* margin: 0 auto; */
  /* !important  */
}
.ekko-lightbox {
  padding: 0px;
}
/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white !important;
} */
/* .sticky {
  padding-top: 30px;
} */


#lightbox-container-image img { 
  width:auto; height: auto }

.modal, .modal-content, .modal-body, .modal-dialog {
  padding-right: 0px;
  padding-left: 0px;
}

.modal .modal-content {
  padding: 0px;
}
/* .modal-header {
  padding: 0px;
} */

.modal-body {
  padding: 0px;

}
.modal-body {
  padding-right: 0px;
}

.modal-dialog {
  margin: 0px;
}

/* .modal {
 max-height: 100%;
}
.modal-content {
  padding: 0px;
} */

#jason{
  width:100%;
  background-color:#e6e6e6;
  /* box-shadow:inset 0 0 10px #000;
  -moz-box-shadow:inset 0 0 10px #000; */
  color: #000;
  font-weight:300;
  font-size:18px;
  margin: 0 auto;
  display: none;
  text-align: center;
  padding: 50px;
}

.lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  max-height: 95vh;
  max-width: calc(95vw - 100px);
  transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
  transform-style: preserve-3d;
}
.form-group {
  padding: 0px !important;
}
.submitBtn {
  margin: 0px;
  padding: 10px !important;
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 22.5px;
  border-radius: 5px;

}
.heading3 {
  color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 30.8px;
}

#jason a:hover{color: #616b41}
/* #jasoninside{
   width:52%; 
  padding:2%}
}
#jason a,#jason a:hover{text-decoration:underline}
*/

.modal {
  z-index: 100001 !important;
}
  /* display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
} */

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.myProjects {
  display: none;
}

.cursor {
  cursor: pointer;
}
.contact-form {
  margin: 0px 50px;
}


#modalImg {
  height: 400px;
}

#logo-t {
  z-index: 1;
  position: relative;
  bottom: 200px;
}
/* jason about me */

#jason{
  width:100%;
  background-color:#e6e6e6;
  /* e2e2e2 */
  /* box-shadow:inset 0 0 10px #000;
  -moz-box-shadow:inset 0 0 10px #000; */
  color: #000;
  font-weight:300;
  font-size:18px;
  margin: 0 auto;
  display: none;
  text-align: center;
  padding: 50px;
}

#jason a{color:#fff}

#jason a:hover{color: #616b41}
/* #jasoninside{
   width:52%; 
  padding:2%}
}
#jason a,#jason a:hover{text-decoration:underline}
*/





/* img {
  width: 330px;
  float: left;
} */
/* 
.grid-item { 
  width: 330px;
  float: left;
  height: 60px;
} */

/* .grid-item--width2 { width: 400px; } */

/* .contact-form {
  position: relative;
  top: 10px;
  background: white;
}
 #bigLogo a,#typed-strings p,#typed-strings span{
  font-family: 'Lato', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */

  /* font-weight:900;
  color:#000;
  font-size:46px;text-shadow:2px 2px 0 #C6C6C6;letter-spacing:-1px;transition:all .2s ease-in-out}

#rightBrace{margin-left:-10px}
#leftBrace{margin-right:-8px} */
/*  
#bigLogo a, #typed-strings p, #typed-strings span{
  font-weight:900;
  color: #000;
  font-size:46px;
  text-shadow:2px 2px 0 #C6C6C6;
  letter-spacing:-1px;
  transition:all .2s ease-in-out;
}
#bigLogo {
  margin: 25px auto 25px;
  width: 50%;
  padding: 10px;
  text-align: center;
 
}


  */

/*

.contact-form {
  position: relative;
  top: 10px;
  background: white;
}
 #bigLogo a,#typed-strings p,#typed-strings span{
  font-family: 'Montserrat', sans-serif;
  font-weight:900;
  color:#000;
  font-size:46px;
  text-shadow:2px 2px 0 #C6C6C6;
  letter-spacing:-1px;
  transition:all .2s ease-in-out;
}
 
 #bigLogo a, #typed-strings p, #typed-strings span{
  font-weight:900;
  color: #000;
  font-size:46px;
  text-shadow:2px 2px 0 #C6C6C6;
  letter-spacing:-1px;
  transition:all .2s ease-in-out;
  
} */

/* #bigLogo a, #typed-strings p, #typed-strings span{
  font-weight:900;
  font-size:75px;
  text-shadow:2px 2px 0 #C6C6C6;
  letter-spacing:-1px;
  transition:all .2s ease-in-out;
} */
#new-rcl {
  width:100% !important;
  /* display: block;
  margin: 0 auto; */
}
.rcl-small-text {
  font-family: "ProximaNova-Regular", Arial, sans-serif;
  color:white;
  font-weight:400;
  font-size:0.75rem;
  text-shadow: 0 0 5px rgb(0 0 0 / 30%);
}
.work-container {
  width:95%;
  margin: 25px auto 30px auto;
  padding: 0px 35px;

}
.typed-cursor{
  display:none;
}
.vertical-dash {
  border-left: solid 1px black;
  height: 95px;
 
}
.dash-long {
  border-top: solid 1px #e6e6e6;
  display: block;
  margin: 15px auto;
  
  /* height: 1px; */
  width: 75%;
  
  /* border-top: 10px solid #e6e6e6; */
}
.dash{
  background-color:#e6e6e6;
  border-radius:10px;
  height:4.5px;
  width:4.5px;
  border-width:1px;
  border-style:solid;
  display:block;
  position:absolute;
  /* left:50%; */
  /* margin-left:-5px;margin-top:-5px; */
  width:50px; 
  border-color:#ffffff
}





/* #blackOverlay,#menuIcon :hover{-moz-opacity:.5;-khtml-opacity:.5;transition:opacity .2s ease-in-out;filter:alpha(opacity=50)} */

/* #menuIcon,.contactInfos{display:inline-block} */

/* #blackOverlay,nav{z-index:5000;top:0} */
/* #menuClose,#menuIcon{cursor:pointer} */
/* #menuIcon{position:relative;top:3px;width:21px;height:21px}
#blackOverlay{position:fixed;left:0;width:100%;height:100%;background-color:#000;opacity:.5}
.contactMe,.followMe{margin:50px 2% 50px 4%;float:left}
#context,#littleLogo{display:none}
.contactMe{text-align:left}
.bigSentence{padding:50px 0 50px 4%;float:left;font-size:20px;font-weight:300}
.copyright{clear:both;margin:10px 4%;padding-top:10px;padding-bottom:10px;text-align:center;width:90.5%;font-size:16px;font-weight:300;border-top:1px solid #b0b0b0} */

/* #jason a,#jason a:hover{text-decoration:underline} */



/* 
  div.grid-item {
    padding-top: 0px;
    padding-bottom: 0px;
  } */

  #footer{
 padding: 10px;
} 
/* 
#firstRow {
  background-color: #f4f4f4;
} */

.first {
  width: 100%;
}
footer{

  /* background-color: #f8f9fa!important; */
  /* background-color: #999999; */
  /* background-color: #e2e2e2; */
  /* background-color: #f1f1f1; */
  /* background-color: #aeb8b8; */
  /* background-color: #75848b; */
  /* background-color: #E5DDD7; */
color: black;
  /* #bbbbbb  */
  /* height: 250px; */
  /* position: relative; */
 /* bottom: 150px; */

 /* padding: 25px; */

 
  
 
}
/* #prana-logo {
  align-items: right;
} */
.layout2 {
  width: 450px;
  float: right;
}
.layout {
  background-color: #441e45;
  height: 350px;
  width: 50px;
  z-index: 0;
  /* float: right;
  margin-right: 0px; */
}

.services {
  /* background-color: #ead4c0; */
  /* background-color: #fff4eb; */
  /* background-color: #d4dbdd; */
  /* background-color: #f7f9f9; */
  background-color: #e6e6e6;
  height: 350px;
  padding: 100px;
  /* background-color: #eeeae4; */
  /* CFD8DC */
}
.services-title {
  font-family: ModenaScript;
}
.footer-line {
  width: 100%;
  /* background-color: #eeeae4; */
  background-color: #f7f9f9;

  height: 15px;
}
.footerContent{margin:0 auto}


/* 
.picContainer,.picContainerIdle,.picContainerIdle:hover{box-shadow:0 1px 1px rgba(0,0,0,.15);outline:#fff solid 0}
#jasoninside{width:90%;padding:5%;margin:0 auto}



/* h1 {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline
} */



/* .heart-wrap {
  position: fixed;
} */
.heart {
  background-color: white;
}

.heart-shape {
  position: relative;

  bottom: 15px;
  display: inline-block;
	width: 15px;
	-webkit-animation: heart-beats 3s infinite;
  animation: heart-beats 3s infinite;
  
}

.heart-shape:before,
.heart-shape:after {
   background: white;
   position: absolute;
   width: 11px;
   height: 17.5px;
   top: 0;
   left: 11px;
   content: '';
   border-radius: 50px 50px 0 0;
   transform: rotate(-45deg) translateZ(0);
   -webkit-transform: rotate(-45deg) translateZ(0);
   transform-origin: 0 100%;
   -webkit-transform-origin: 0 100%;
}

.heart-shape:after {
   left: 0;
   transform: rotate(45deg) translateZ(0);
   -webkit-transform: rotate(45deg) translateZ(0);
   transform-origin :100% 100%;
   -webkit-transform-origin: 100% 100%;
}


@keyframes heart-beats {
  0%   { transform: scale(1); background-color:black;}
  7%  { transform: scale(1.2); }
  12%  { transform: scale(1.1); }
  20%  { transform: scale(1.3); }
  60%  { transform: scale(1); }
  100% { transform: scale(0.99); }
}

@-webkit-keyframes heart-beats {
  0%  { -webkit-transform: scale(1); }
  7%  { -webkit-transform: scale(1.2); }
  12% { -webkit-transform: scale(1.1); }
  20% { -webkit-transform: scale(1.3); }
  60% { -webkit-transform: scale(1); }
  100% { -webkit-transform: scale(0.99); }
}

.row:after {
  content: "";
  display: table;
  clear: both;
  /* display: flex;
  flex-wrap: wrap;
  padding: 0 4px; */
}
.column {
  float: left;
  width: 100%;

  /* flex: 50%; */
 
}
  
.column img {
  margin: 0px auto;
  padding: 10px 0px;
  vertical-align: middle;
}

.footer-dash {
  width: 2px;
  height: 200px;
  background-color: #e6e6e6;
  /* display: block;
  margin: 0 auto; */
}
.footer-logo {
  display: block;
  margin: 0 auto;
  /* border-right: 2px solid #e6e6e6;
  border-left: 2px solid #e6e6e6; */
 
}

.isc-img {
  width: 100%;
  padding: 15px;
  margin: 0 auto;
}



#menuBtn {
  color: black;
}
.collapse.show {
  width: 100%;
}



/* #menuClose,#menuIcon{cursor:pointer} */
/* #menuIcon{position:relative;top:3px;width:21px;height:21px}
#blackOverlay{position:fixed;left:0;width:100%;height:100%;background-color:#000;opacity:.5}
<<<<<<< HEAD
}
/* #typed {
display: none;
} */
.return-container {
  width:100%;
}
.prana-headline {
  font-family: ModenaSans;
  margin: 7.5px;
  font-size: 22px;
  line-height: 1.5;
  position: relative;
  bottom: 135px;
  z-index: 3; 
}
.prana-details {
  position: relative;
  bottom: 100px;
  padding:5px;
  /* font-size: 15px; */
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}
.prana-list-servs {
  position: relative;
  bottom: 100px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.viewAllBtn, .returnBtn {
display: block;
margin: 10px auto;
}
.contactBtn {
  width: 100%;
  padding: 6px 12px;
  background-color: black;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  border: 1px solid #000000;
  line-height: 30px;
  height: 44px;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 5px;
  margin: 20px 0px 40px 0px;
}
.viewAllBtn, .returnBtn {
  padding: 15px;
  background-color: black;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  border-radius: 5px;
}

.returnBtn {
  margin: 75px auto;
}
.servicesBtn {
  margin: 35px 0px;
  padding: 12px 24px;
  background-color: black;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 22.5px;
  border-radius: 5px;

}
.btnSpace {
  padding: 25px;
  clear: both;
}


.grid-item {
  width: 100%;
  float: left;
  padding: 0px 0px 15px 0px;
}
.grid-sizer,
.grid-item {
  /* width: 100%; */
  padding: 5px 5px 5px 5px;
}
.grid-item img {
  display: block;
  margin: 0 auto;
  width: 100%; 
  padding: 0px 5px 0px 5px;
}

#logo {
  /* width: 750px; */
  z-index: -1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  width: 300px;
  height: auto;
  
}
.parallax-main { 
  /* background-image: url("../images/pray.png"); */
  background-image: url("../images/pal.jpeg");
  background-attachment: fixed;
  /* background-position: left; */
  /* position: relative; */
  /* bottom: 315px; */
  background-repeat: no-repeat;
  /* background-size: auto; */
  /* background-position: bottom; */
  z-index: -100;
  background-size: cover;
}
.testimonial {
  margin: 20px 0px;
}
  
.pitch { 
  margin: 20px 0px;

}


/* #aboutMe, ul#portfolio-filter{
  font-size: 14px;
    border-bottom:1px solid #243828
  } */
  /* ul#portfolio-filter li, ul#portfolio-list li {
  padding-right: 0px;
  padding-left: 0px;
} */


/* #smallLogo {
  display: none;
} */

.business-info {
  margin: 0px 20px;
  padding: 20px;
  /* margin-right: 15px;
  margin-left: 15px; */
}

.hp-headshot-bkg {
  background-color: #2A4034; 
  width: 90%;
  display: block;
  margin: 0 auto;
  /* height:270px; */
  height: auto;
  position:relative;
  top: 0;
  left: 0;
 
}
.hp-desk {
  display: none;
}
.hp-headshot {
  width: 100%;
  float: left;
  padding: 0px 10px;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.meet-the-designer {

  width: 90%;
  padding: 20px 0px 0px 25px;
}
#designer-block {
  padding-bottom:20px;
}
.hp-heart {
  /* color: #e25555; */
  
}
.new-foot {
  width:100%;
}
.hp-footer {
  /* height: 20px; */
  text-align: center;
  padding: 10px 0px 20px 0px;
}
.hp-serv {
  width: 80%;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px 0px;
  /* float:right; */
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  /* margin: 20px 0px; */
}
.hp-bagel {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 15px 5px 5px 5px;
}
.hp-form-comm {
  margin-bottom: 10px;
}
  
#aboutMe, ul#portfolio-filter{ display: inline-block;}

#logo {
  padding-top: 30px;
  width: 300px;
  }
/* span#typed {
  color: #fff;
  position: relative;
  font-size: 10px;
  bottom: 40px; 
  right: 45px;

} */
.parallax-main { 
  height: 300px;
}
#logo {
  padding-top: 20px;
  width: 450px;
}

  

 
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  

  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } 


  .hp-icon {
    border: 1px solid black; 
    width: 50%; 
    display: block; 
    margin: 10px auto;
    padding: 10px 0px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 22.5px;
  }
  .hp-flourish {
    text-align: center;
    display: block; 
    font-size: 22px;
    font-weight: 300;
    margin: 55px auto;
  }

  .learn-more {
  text-transform: uppercase;
  color: black;

  }
  .learn-more-v2 {
    font-weight: 600;
    display: inline;
    color: black;
  }
  .intl-mkt {
    color: rgba(0, 94, 220, 0.5);
    display: inline-flex;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 2px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    text-decoration: none;
    outline: none;
    
    padding: 10px 30px 10px 30px;
  }
  .countries {
    display: block;
    margin: 0 auto;
  }
  .intl-mkt-content {
    padding: 35px 0px 0px 0px;
  
    text-align: center;
  }
  .rcl-booked {
    color:white;
  width:80%;
  margin: 0 auto 80px auto;
  text-align:center;
  }
  .rcl-heading {
    margin: 0px;
    font-family: Kapra, "Open Sans", sans-serif;
    text-transform: uppercase;
    /* font-size:4rem; */
    font-size:3rem;
    padding-top:50px;
  }
  .heading-rcl {
    /* font-size: 2.625rem; */

    font-size:2.25rem;
    font-family: Kapra, "Open Sans", sans-serif;
    text-transform: uppercase;
    color:white;  
  }
  .line-cta {
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    
  }
  .rcl-layout-1 {

  }
  .rcl-mockup-1 {
    display: block;
    margin: auto;
  }
  .rcl-layout {
    width:85%;
    display: block;
    margin: 0 auto;
    margin-top:50px;
    clear:both;
    /* height: 450px; */
  }
  .gif-box {
    display:none;
  }
  .rcl-gif-ho {
    width:100%;
  }
  .sectionDestination__header {
    margin: 0 auto 40px auto;
    text-align: center;
    width: 80%;
}
.navy-text {
  color: #15264c;

}
.heading1 {
  font-family: Kapra, "Open Sans", sans-serif;
  text-transform: uppercase;
}
.subHeading {
  font-family: "ProximaNova-Regular", Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.gray-text {
  color: #4a4a4a;
}
.paragraphCopy {
  font-family: "ProximaNova-Regular", Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 150%;
}
  .rcl-button {
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    color: rgb(255, 255, 255); 
    background-color: rgb(0, 94, 220);
    padding: 0.25rem;
    display: inline-block;
    text-shadow: none;
    width: auto;
    text-decoration: none;
    position: relative;
    bottom:15px;
    
  }
  .pdi-banner{
    text-align: center;
    margin: 20px auto 0px auto;
    padding: 50px 0px;
    width: 100%;
    height: 150px; /* 100% */
    background-image: url('../images/pdi-banner.jpeg');
    background-size: cover;
  }
  .pdi-img {
    width:100%;
  }
  .paragraphCopyv2 {
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    /* font-size: 1.125rem; */
    font-size:0.75rem;
    line-height: 150%;
    padding: 15px 0px 0px 0px;
  }
  .mockup-box{
    width:100%;
  }
  .rcl-mockup {
    display: block;
    width:95%;
    margin:0 auto;
  }
  .rcl-mockup1 {
    width:95%;
    display: block;
    margin:0 auto;
  }
  .rcl-deals {
  
    clear: both;
    /* padding-top:15px; */
  }
  .rcl-iphone{
    width:85%;
  
  }
  #rcl-inside {
    width: 78%;
    display: block;
    margin: 0 auto;
  }
  .rcl-layout-hor {
    width:100%; float:right;padding:20px 0px 0px 0px;
  }
  .rcl-row {
    width:100%;
    margin: 0px;
  }
  .rcl-top-half {
    /* padding:0px 30px; */
  }
  .rcl-banner {
    width:100%;
  }
  .rcl-page-left {
    padding-right: 5px;
  }
  .rcl-page-right {
    padding-left: 5px;
  }
  .rcl-page3 {
    margin-top:10px;
    /* padding-right:5px; */
    width:50%;
    /* padding:5px; */
    /* float:right; */
  }
  .rcl-page2 {
    width:45%;
    float:right;
  }
  .rcl-return {
    padding-top:25px;
  }
  #rcl-return {
    margin: 0px auto;
    
  }
  .cross-sell-content{
    clear:both;
    width:100%;
    margin-top:25px;
    
    /* width: 85%; */
  }
  .cross-sell-div {
    width:100%;
  }
  .cross-sell {
    width:95%;
    display:block;
  margin: 0 auto;
    padding:10px 5px 0px 5px;
  }
  .return-to-port {
    clear: both;
  }
  .email-container {
    clear:both;
  }
  .email-content {
    margin: 25px auto;
    width:100%;
  }
  
  .email-img {
    width:90%;
    display:block;
    margin: 0 auto;
  }
  .email-header {
    clear: both;
    display: block;
    margin: 0 auto;
    padding-top:50px;
  }
  .email-new {
    width:55%;
    display:block;
  /* float: left; */
  margin: 0 auto;
   
  }
  .email-container {
    margin-top:20px;
    /* padding:75px; */
  }
  #rcl-subHead {
    /* font-size:  1.375rem; */    font-size:  1rem;
    font-family: "ProximaNova-Regular", Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 200;
  }
  .desk-css {
    display:none;
  }

/* ---- HP FORM ---- */

#hpInputName, #hpInputPhone, #hpInputEmail, #hpCompany, #hpMessage {
  border: 4px solid #D9D9D9;
  border-radius: 0;
  /* border-style: none; */
  width: 100%;
  display: block;
  margin: 0 auto;
  
}

/* ---- END HP FORM ---- */
/* adding from css media file*/
/* @media (min-width: 320px) {  */
/* ---- NAV BAR ---- */
#final-nav {
  height: 50px;
}
.pink-box {
  /* height:355px; */
}
/* button.navbar-toggler {
  position: relative;
  left: 250px;
} */

/* ---- END NAV BAR ---- */
/* ---- HP HEADER ---- */
.top-header {
  padding-top:50px;
}
.logo-top {
  margin: 0px 0px 0px 0px;
  position: relative;
  top: 105px;
} 
.main-title {
  display: none;
  font-family: Dosis, sans-serif;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 3px;
  text-align: center;
  line-height: 1.55;
  margin: 5px 0px 0px 0px;
}
.main-head {
  width: auto;
  height: 300px;
}
.temp-logo {
  font-size: 38px;
  padding: 35px 0px 0px 0px;
}

/* HP new layout */
#new-text {
  text-align: center;
}
.hp-logo { 
  width:55%;
  /* float: left; */
  height: auto;
  vertical-align:middle;
  display: block;
  margin:0 auto;
}
.new-testimonial {
  margin: 20px 15px;
}
/* ---- END HP HEADER ---- */
.last-p {
  margin: 25px auto;
  text-align: center;
  width: 80%;
  padding-bottom: 10px;

}
.hp-form {
  background-color: #D9D9D9;
  width:95%;
  display: block;
  margin: 0 auto;
  text-align: center;
  /* padding-bottom: 5px; */

}
.hp-contact-box {
  background-color:#000000;
  color:white;
  width:45%;
  /* padding: 15px 0px; */
  height:40px;
  display: block;
  margin: 0 auto;
}
.hp-contact {
  font-size: 16px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 37.5px;
  /* border-radius: 5px; */
  
}
.hp-row {
  width: 100%;
  padding: 0px 0px 10px 0px;
}

.boating-wires {
  width:90%; 
  margin: 0 auto; 
  display: block;
  }
.servicesBtn {
  margin: 100px 0px 0px 0px;
}
.rcl-header-title {
  display: block;
  margin: 0 auto;
  padding-top:300px;
  width:80%;
}
.rcl-l, .rcl-r {
  width:100%;
  display:block;
  margin: 15px auto;
}


.rcl-row-web {
  display:block;
  margin: 0 auto;
}
.prana-img {
  width:98%; 
  padding: 25px 7.5px 25px 7.5px; 
  z-index: 100; 
  margin: auto;
  }
.prana-work {
position: relative;
top: 0px;
}
/* #prana-side {
  position: relative;
  top: 120px;

} */
.shadowImg {
width: 70%;
display: block;
margin: 0 auto;
}
.deskImg {
width: 90%;
}
.testimonial, .pitch {
margin: 30px 40px 20px 40px;
}
.separator1 {
width: 90%;
}
#battized-front1 {

padding: 0px;
}
#battized-front2 {
padding: 0px;
margin: 0px;
}
#battized-front3 {
margin: 0px;
padding: 0px;


}
.type-imgs {
width: 100%;
padding: 10px 0px;
}
.type-imgs-3 {
width: 100%;
padding: 0px 0px;
}
.type-imgs-2 {
width: 95%;
padding: 0px 0px 5px 0px;
}
.type-imgs-4 {
width: 95%;
padding: 0px 0px 0px 0px;
}
#rcl-1 {
  width: 100%;
}
#rcl-3 {
  width: 100%;
}
.right-col {
width: 100%;
}
/* }  */


