* {
    /* box-sizing: border-box; */
    color: black;
}

/* general */

body {
    font-family: sans-serif;
    background-color: #fff;
    text-align: center;
    padding-top: 10em;

}

/* #logo a,#typed-strings p,#typed-strings span{font-weight:900;color:#2A3755;font-size:46px;text-shadow:2px 2px 0 #C6C6C6;letter-spacing:-1px;transition:all .2s ease-in-out}.logoBraces,.logoUnderscore{color:#EE4958;font-weight:900}.logoUnderscore{position:relative;padding-left:2px;padding-right:2px;bottom:8px}#rightBrace{margin-left:-10px}#leftBrace{margin-right:-8px}.typed-cursor{opacity:0;font-weight:200;-webkit-animation:blink .8s 24;-moz-animation:blink .8s 24;-ms-animation:blink .8s 24;-o-animation:blink .8s 24;animation:blink .8s 24}
@-keyframes blink{0%,100%{opacity:1}50%{opacity:0}}@-webkit-keyframes blink{0%,100%{opacity:1}50%{opacity:0}}@-moz-keyframes blink{0%,100%{opacity:1}50%{opacity:0}}@-ms-keyframes blink{0%,100%{opacity:1}50%{opacity:0}}@-o-keyframes blink{0%,100%{opacity:1}50%{opacity:0}} */


/* .typewriter h1 {
    color: black;
    overflow: hidden;
    border-right: .15em solid red;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
} */

/* typing */
/* @keyframes typing {
    from {width: 0}
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
} */

/* navigation */

#nav-bar {
    background-color: white; 
}

nav a {
    color: black;
}

#header-logo {
    color: black;
    text-align: center;
}

.nav-wrapper {
    margin: 0 20px;
}

.nav-link {
    color: black;
}

.brand-logo {
    /* align: center;
  */
        position: absolute;
        left: 50%;
        margin-left: -50px !important;  /* 50% of your logo width */
        display: block;
  
}


/* parallax header */

.parallax-container {
    height: 400px;
    overflow: hidden;
    position: relative;
    /* height: auto; */
    /* width: auto;
    position: relative;
    bottom: 13px; */
    
}

#header {
    width: 100%;
}

#imgHeader {
    height: 400px;
    /* width: 100%;
    height: auto; */
    /* width: 1500px;
    height: 927px; */


}

#heading {
    background: #d7d7d7;
    height: 400px;
}

#text {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
/* portfolio grid */ 

.main-container {
    padding-left: 300px;
    padding-right: 300px;
}

.modal {
    
   max-height: 100%;
}
.modal-content {
    padding: 0px;
}

.header {
    background-color: grey;
    height: 100px;

}

/* .category {
    color: grey;
    background: white;
    text-align: center;
    position: absolute;
    bottom: 50px;
    width: 100%;
    padding: 25px;
    /* visibility: hidden; */


/* 
.grid {
    padding: 75px;
} */


/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: white;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
 padding: 10px;
  
}

.grid-item {
  float: left;
  border: 0px solid white;

}

.gutter-sizer {
    /* width: 4px; */
    /* width: 2%;
    height: 120px; */
}

.grid-item img {
  display: block;
  width: 100%;
  /* padding: 7px 0; */
}

/* .grid-item:hover{
    cursor: pointer;
    -webkit-filter: grayscale(0%) blur(0);
  }

  .grid-alpha{
    display: none;
    position: absolute;
    background-color: #F4F3F4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
  }
  .grid-alpha:hover{
    cursor: zoom-out;
  }
  
  .grid-item.item-opened{
    width: 80%;
    height: 80vw;
    border: 3px solid #e8e8e8;
    -webkit-filter: grayscale(0%) blur(0);
    } */

#container {
    margin: 0 auto;
    max-width: 1200px;
}
/* .grid-item-content {
    height: 100px;
} */
/* .fa {
    padding: 20px; */
  /* font-size: 30px;
  width: 30px; */
  /* text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
} */

.nav-link {
    color: black;
}
.fa:hover {
    opacity: 0.7;
}

.fa-linkedin-in {
    /* background: #007bb5; */
    color: black;
  }

  .fa-github {
    /* background: #007bb5; */
    color: black;
  }

.lightbox {
    
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    background: #7f8c8d;
    perspective: 1000;
}
.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(20px);
    opacity: 0.5;
    background-position: center;
    background-size: cover;
  }
  
  .lightbox img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(0deg);
    max-height: 95vh;
    max-width: calc(95vw - 100px);
    transition: 0.8s cubic-bezier(0.7, 0, 0.4, 1);
    transform-style: preserve-3d;
  }

@media screen and (max-width: 580px) {
    .grid-item {
        width: 100%;
        padding: 0px;
    }
}

@media screen and (max-width: 1020px) {
    .main-container {
    padding: 0px;
    }
 }

/* img {
    width: 330px;
    float: left;
} */
/* 
.grid-item { 
    width: 330px;
    float: left;
height: 60px;
 } */

/* .grid-item--width2 { width: 400px; } */

.contact-form {
    position: relative;
    top: 10px;
    background: white;
}


/* .text-body {
    height: 250px;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px;
    color: #f0f0f0;
    text-shadow: #000 0px 1px 0px;
    font-family: "Consolas", "Courier New", "Courier";
    font-size: 1.75em;
    line-height: 1.40em;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
} */

/* @media screen and (max-width: 640px) {
    .grid-sizer, .grid-item {
        width: 50%;
    }
} */
/* #mainContent,#mainContentSchweppes{margin:40px auto 70px;background-color:#FFF;overflow:auto;position:relative;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}#mainContentSchweppes{padding-bottom:20%;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
#projectInfo{position:relative;overflow:auto;top:0;padding-top:100px}#projectTitle{color:#51545a;font-size:25px;font-weight:700;margin:0 auto;padding-top:20px;float:none}
#tags{padding-top:25px;padding-bottom:5px;margin-left:50%;margin-right:50%;float:none;width:190px;border-top:1.5px solid #a3a5af}
#tags img{margin-left:5px;margin-right:5px}
#projectDescription{color:#7a7b84;font-size:17px;font-weight:300;padding-left:150px;float:none;padding-right:150px}
#context{float:right;position:absolute;bottom:20px;right:20px}nav{text-align:center;height:100px;width:100%;position:relative;-webkit-backdrop-filter:blur(0);background:rgba(230,230,230,0);-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.navFolded{-webkit-backdrop-filter:blur(20px);background:rgba(230,230,230,.9);-moz-transition:background-color .3s;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out}.redDash{color:#EB4B1D;padding-right:2px;padding-left:2px;font-weight:300}
#vertLine{color:#EB4B1D;padding-left:7px;padding-right:7px}a{color:#111f46}
.sectionTitle{text-align:center;padding-bottom:4%} */
/* .sectionText{width:79%;margin:0 auto;font-size:17px;font-weight:300;line-height:20px;padding-bottom:4%;text-align:left}
#menuContainer,.specialTVTitle,.thumbTags,.thumbTitle{text-align:center}.specialTVTitle{padding-top:4%;padding-bottom:0}
#menuHeader{padding:30px 1.5%;font-size:28px;font-weight:700;display:flex;justify-content:space-between}.thumbContainer,.thumberContainerCurrent{position:relative;width:165px;height:165px;overflow:hidden;margin-bottom:10%}
.thumbContainer :hover{opacity:.5;filter:alpha(opacity=50);transition:all .2s ease-in-out}.thumberContainerCurrent{outline-offset:-5px;outline:#111f46 solid 5px;background-color:#111f46;opacity:.5;filter:alpha(opacity=50)}.thumbContainer img,.thumberContainerCurrent img{position:absolute;left:50%;top:50%;height:100%;width:auto;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}#projectsList{display:flex;justify-content:space-between;flex-wrap:wrap;list-style:none}#projectsMenu{width:100%;background-color:#EE4958;display:none;overflow:hidden;z-index:10000;position:relative;box-shadow:0 2px 8px rgba(0,0,0,.3)}
#menuContainer{width:90%;margin:0 auto}.projectThumbs{display:inline-block;margin-bottom:4%;margin-right:1.5%;margin-left:1.5%;vertical-align:top}.projectThumbs a{display:inline-block;background-color:transparent}.textContainer{width:165px}.thumbTags{font-size:12px;color:#fff}.thumbTitle{text-transform:uppercase;margin-bottom:4px;font-size:14px;color:#fff} */
/* @media screen and (min-width:50px){#menuContainer{width:80%}.thumbContainer,.thumberContainerCurrent{width:140px;height:140px}.textContainer{width:140px}}
@media screen and (min-width:450px){#menuContainer{width:80%}.thumbContainer,.thumberContainerCurrent{width:170px;height:170px}.textContainer{width:170px}}
@media screen and (min-width:535px){.thumbContainer,.thumberContainerCurrent{width:200px;height:200px}.textContainer{width:200px}}
@media screen and (min-width:610px){#menuContainer{width:70%}.thumbContainer,.thumberContainerCurrent{width:130px;height:130px}.textContainer{width:130px}}
@media screen and (min-width:700px){.thumbContainer,.thumberContainerCurrent{width:100px;height:100px}.textContainer{width:100px}}
@media screen and (min-width:800px){#menuContainer{width:90%}.thumbContainer,.thumberContainerCurrent{width:120px;height:120px}.textContainer{width:120px}}
@media screen and (min-width:900px){.thumbContainer,.thumberContainerCurrent{width:140px;height:140px}.textContainer{width:140px}}
@media screen and (min-width:1100px){#menuContainer{width:1020px}.thumbContainer,.thumberContainerCurrent{width:165px;height:165px}.textContainer{width:165px}}
@media screen and (min-width:1200px){#menuContainer{width:1220px}.thumbContainer,.thumberContainerCurrent{width:165px;height:165px}.textContainer{width:165px}} */
/* 
#bigLogo a,#typed-strings p,#typed-strings span{font-weight:900;color:#2A3755;font-size:46px;text-shadow:2px 2px 0 #C6C6C6;letter-spacing:-1px;transition:all .2s ease-in-out}.logoBraces,.logoUnderscore{color:#EE4958;font-weight:900}
.logoUnderscore{position:relative;padding-left:2px;padding-right:2px;bottom:8px}
#rightBrace{margin-left:-10px}
#leftBrace{margin-right:-8px}
/* .typed-cursor{opacity:0;font-weight:200;-webkit-animation:blink .8s 24;-moz-animation:blink .8s 24;-ms-animation:blink .8s 24;-o-animation:blink .8s 24;animation:blink .8s 24}
@-keyframes blink{0%,100%{opacity:1}50%{opacity:0}}@-webkit-keyframes blink{0%,100%{opacity:1}50%{opacity:0}}
@-moz-keyframes blink{0%,100%{opacity:1}50%{opacity:0}}@-ms-keyframes blink{0%,100%{opacity:1}50%{opacity:0}}
@-o-keyframes blink{0%,100%{opacity:1}50%{opacity:0}} */
/* @media screen and (min-width:50px){.bigSentence,body{font-size:16px}.bigSentence,.contactMe{border-top:1px solid #b0b0b0}.bigSentence,.followMe p{text-align:left}#bigLogoPict{width:80%}.redDash{padding-right:2px;padding-left:0}

#bigLogo{margin-bottom:50px}
.followMe{margin:25px 0;padding:0 2% 0 4%;width:265px;border-right:none}
.contactMe{margin:0 4%;padding:25px 0;width:265px}
.bigSentence{line-height:24px;padding:20px 0;margin:0 5%;width:90%}
.iconFooterFollow{float:left}.textlinkFooterFollow{margin-left:40px;margin-right:0;text-align:left}#mainContent,#mainContentSchweppes{width:100%;margin-top:40px;margin-left:0;margin-right:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}#innerLogo,#littleLogo,#projectDescription,#projectTitle,#tags,.navProjects{float:none;margin:0 auto;text-align:center}#mainContentSchweppes{padding-bottom:35%}#projectDescription{font-size:14px;padding-right:50px;padding-left:50px}#projectTitle{font-size:25px}#tags img{width:25px;height:25px}
#context{display:none}
#innerLogo,#littleLogo{padding-top:27px;padding-left:0}
.navProjects{padding-top:20px;padding-bottom:20px;padding-right:0}nav{height:140px}.sectionTitle,.specialTVTitle{font-size:21px;font-weight:400}.sectionTitle{padding-bottom:7%;padding-top:5%}.sectionText{width:89%;font-size:14px;padding-bottom:7%}#projectInfo{padding-top:180px}#bigLogo a,#typed-strings p,#typed-strings span{font-size:19px;letter-spacing:0;text-shadow:1px 1px 0 #C6C6C6}
.logoUnderscore{bottom:4px}
#leftBrace{margin-right:-4px}}

@media screen and (min-width:400px){#projectInfo{padding-top:0}body{font-size:21px}
#bigLogo{margin-bottom:75px}.contactMe{border-top:none}#bigLogo a,#typed-strings p,#typed-strings span{font-size:25px;text-shadow:1px 1px 0 #C6C6C6}
.logoUnderscore{bottom:5px}}

@media screen and (min-width:500px){#bigLogo{margin-bottom:100px}}

@media screen and (min-width:600px){#projectDescription,#projectTitle,#tags{float:none;text-align:center}#mainContent,#mainContentSchweppes{width:90%;margin-left:5%;margin-right:5%;margin-top:40px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}#mainContentSchweppes{padding-bottom:30%}#bigLogo{margin-bottom:150px}#tags{margin:0 auto}#projectTitle{margin:0;padding-right:0;border-top:none;border-bottom:none}#projectDescription{margin:0}#bigLogo a,#typed-strings p,#typed-strings span{font-size:38px;letter-spacing:-1px}
.logoUnderscore{bottom:8px}#leftBrace{margin-right:-8px}}@media screen and (min-width:665px){.contactMe,.followMe{margin:30px 0 25px 25px;padding:0 25px 0 0;width:265px}.iconFooterFollow{float:right}.followMe{border-right:1px solid #b0b0b0}.followMe p{text-align:right}.textlinkFooterFollow{margin-left:0;margin-right:40px;text-align:right}#innerLogo,#littleLogo,.navProjects{padding-top:39px;margin:0;text-align:left}.contactInfos{display:inline-block}#innerLogo,#littleLogo{float:left;padding-left:2%}.navProjects{float:right;padding-bottom:0;padding-right:2%}nav{height:100px}.sectionTitle,.specialTVTitle{font-size:25px;font-weight:700}.sectionTitle{padding-bottom:4%;padding-top:0}.bigSentence{font-size:21px;line-height:28px;text-align:center;padding:20px 0;margin:0 5%;width:90%;border-top:1px solid #b0b0b0}}

@media screen and (min-width:800px){#bigLogoPict{width:663px}.redDash{padding-right:2px}#projectTitle{font-size:30px}#tags img{width:30px;height:30px}#context{display:none}#projectDescription{font-size:16px;padding-left:150px;padding-right:150px}.sectionText{width:79%;font-size:17px;padding-bottom:4%}#bigLogo a,#typed-strings p,#typed-strings span{font-size:40px;text-shadow:2px 2px 0 #C6C6C6}}

@media screen and (min-width:1000px){#mainContentSchweppes{padding-bottom:30%}#projectDescription{font-size:17px;padding-left:250px;padding-right:250px}#bigLogo a,#typed-strings p,#typed-strings span{font-size:50px}}

@media screen and (min-width:1200px){.bigSentence,.followMe p{text-align:left}.bigSentence{font-size:17px;line-height:28px;padding:50px 0 50px 4%;margin:0;width:auto;border-top:none}.iconFooterFollow{float:left}.textlinkFooterFollow{margin-left:40px;margin-right:0;text-align:left}.contactMe,.followMe{margin:50px 0;padding:0 2% 0 4%}.followMe{width:225px;border-right:none}.contactMe{width:265px}.contactInfos{display:block}#mainContent,#mainContentSchweppes{width:1080px;margin-left:auto;margin-right:auto}#mainContentSchweppes{padding-bottom:23%}}

@media screen and (min-width:1300px){.bigSentence{font-size:19px;line-height:28px}}

@media screen and (min-width:1600px){.footerContent{width:1600px}#projectDescription{font-size:17px;padding-left:30%;padding-right:30%}} */ */


